# Eclipse project files
.metadata/
*.log
.settings/
.cproject
.project

# Build output binaries and objects
*.o
*.d
*.so
*.a
*.out
*.exe
server
client/Debug/
client/Release/
server/Debug/
server/Release/

# OS-specific files
.DS_Store
Thumbs.db
